<div class="center-div">
  <button
    #dropdownbtn
    class="dropdownbtn collection not-center-div text-align-center"
    (click)="toggleDropdownbtn()"
  >
    Collection
  </button>
  <div class="dropdown-content">
    <button
      class="collection not-center-div text-align-center dropdown-content"
    >
      Shirts
    </button>
    <button
      class="collection not-center-div text-align-center dropdown-content"
    >
      Pants
    </button>
    <button
      class="collection not-center-div text-align-center dropdown-content"
    >
      Shoes
    </button>
    <button
      class="collection not-center-div text-align-center dropdown-content"
    >
      Accessories
    </button>
  </div>

  <button class="collection not-center-div text-align-center">
    Accessories
  </button>
  <button class="collection not-center-div text-align-center">Purchase</button>
  <button class="collection not-center-div text-align-center">Wishlist</button>
  <button class="collection not-center-div text-align-center">About</button>
</div>
