// this will center the element
.center-div {
  text-align: center;
}

//for child classes and divs, this can be used to not center them
.not-center-div {
  text-align: left;
  display: inline-block;
  width: 200px; /* Specify width */
  margin: 10px; /* Add some space between elements */
}
.text-align-center {
  text-align: center;
}

.dropdown-content {
  display: none; /* hidden by default */
}

.dropdown-content.show {
  display: block; /* show when toggled */
}
